@import "~bootstrap/scss/bootstrap";

$container-selects-height: 250px;
$container-preface-height: 550px;
html, body, #root {
  height: 100%;
}
.container-preface {
  max-height: $container-preface-height;
  background: seagreen;
  width: 100%;


}
img{
  width: 5vw;
  height: 5vw;
}
h1 {
  margin: 0 !important;
  font-size: 2vw !important;
}

h2 {
 font-size: 1vw !important;

}

.container-page {
  max-height: $container-preface-height;
  background: darkseagreen;
  width: 100%;

}.container-title{


 }

.container-header {
  position: relative;
  max-height: $container-selects-height;
  width: 100%;
}
.container-calendar {
  position: relative;
border-bottom:  1px solid black;
}

.container-selects {
  position: relative;
  max-height: $container-selects-height;
  width: 100%;
  background-color: red;

}

.container-selects_short {
  position: relative;
  max-height: $container-selects-height;
  width: 100%;
  top: 1vh;

}
.container-selects_short2 {
  position: relative;
  max-height: $container-selects-height;
  width: 100%;
  top: 1vh;
 }
.container-selects2 {
  position: relative;
  max-height: 400px;
  width: 100%;
  background-color: green;

}
.container-selects3 {
  position: relative;
  max-height: 400px;
  width: 100%;
  background-color: blue;

}
.container-graph {
  position: relative;
  margin: auto;
  height: 70vh;
  width: 80vw;

}
.container-graph_short {
  position: relative;
  margin: auto;
  margin-top: 1vh;
  height: 70vh;
  width: 80vw;

}
.container-homeGraph1{
  float:left;
  width:50%;
  overflow:hidden;
  height: 60vh;

}
.container-homeGraph2{

  width:50%;
  overflow:hidden;
  height: 60vh;
}

.container-navigation{
background-color: seagreen;
}

.Nav_link:link {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}
.Nav_link:visited {
  color: #fff;
}
.Nav_link:hover {
  background-color: seagreen;
}
.Nav_link:active {
  background-color: seagreen;
}

.activeRoute {
  background-color: darkseagreen;
  cursor: not-allowed;
}

.container-line_kk {
color: white;
  font-size: 20px;
}